<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>URLs & Forms</title>

  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>URLs & Forms</h1>

    <nav>
      <a href="/">Home</a>
      <a href="/dp/B01MUAGZ49">Nintendo Switch</a>
      <a href="/dp/B01MS6MO77">Zelda: Breath of the Wild</a>
      <a href="/en/courses/ux-ui-design-part-time">
        UX/UI Design Part Time
      </a>
      <a href="/fr/courses/data-analysis-bootcamp">
        Data Analysis Bootcamp
      </a>
      <a href="/watch?v=zGkHRa64sDY">Five Guys Burger Review</a>
    </nav>
  </header>

  {{{body}}}

  <footer>
    <p>Made with 🦖 at Ironhack</p>
  </footer>
</body>
</html>
