<h2>Log In</h2>

<form action="/process-login" method="POST">
  <label>
    Email:
    <input type="email" name="userEmail" placeholder="holdo@resistence.com" />
  </label>

  <label>
    Password:
    <input type="password" name="userPassword" placeholder="We won't tell..." />
  </label>

  <button>Log In</button>
</form>
